#interface {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 0.5rem;
    place-content: center;
    margin-top: 1rem;
}
    .title {
        font-size: 1.75rem;
        margin: 0 auto;
        grid-row: 1;
    }
        #title1 {
            color: red;
        }
        #title2 {
            color: yellow;
        }
    .subtitle {
        font-size: 1.25rem;
        margin: 0 auto;
        grid-row: 2;
    }
    .display {
        grid-row: 3;
    }
    .meter {
        grid-row: 4;
        position: relative;
        height: 2.5rem;
        margin-top: 0.5rem;
    }
        #meter1 .meterBar {
            background: red;
        }
        #meter2 .meterBar {
            background: yellow;
        }
        .meterBar {
            --width: 0.25rem;
            content: "";
            position: absolute;
            height: 100%;
            width: var(--width);
            animation-duration: var(--animDur);
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
            .meterBar.left {
                animation-name: beat_meter_left;
            }
                @keyframes beat_meter_left {
                    0% {
                        left: 0;
                    }
                    100% {
                        left: calc(50% - var(--width) * 0.5);
                        display: hidden;
                    }
                }
            .meterBar.right {
                animation-name: beat_meter_right;
            }
                @keyframes beat_meter_right {
                    0% {
                        right: 0;
                    }
                    100% {                
                        right: calc(50% - var(--width) * 0.5);
                        display: hidden;
                    }
                }
    .nav {
        margin: 0 auto;
        grid-row: 5;
        position: relative;
    }
        .nav::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            background: #242424;
        }
            .nav.beat::after {
                animation-name: beat_nav;
                animation-fill-mode: forwards;
                animation-duration: var(--animDur);
            }
                @keyframes beat_nav {
                    0% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
        .Navrose {
            margin: 0.5rem;
        }
            .Navdir[data-displayid="demo1"] {
                border: 1px dashed red;
            }
            .Navdir[data-displayid="demo2"] {
                border: 1px dashed yellow;
            }

#passages {
    grid-column: 1 / span 2;
    display: grid;
    place-content: center;
}



